.modal {
  width: 340px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 2;
  background: url("./fly.svg") top center;
  background-size: 110% auto;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.close {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modal-body {
  /* margin: 0;
  padding: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal-avatar img {
  display: flex;
  border-radius: 100%;
}
