.button-menu {
  margin: 5px;
}

.forward-chat-list {
  display: flex;
  height: 62px;
  margin: 1px;
  border: solid 2px #096dd9;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  background-color: #adc6ff;
}

.forward-to {
  display: flex;
  width: 100%;
  height: 50px;
  padding-left: 300px;
  padding-right: 300px;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.forward-to svg {
  height: 1.7em;
  width: 1.7em;
}

.forward-to div {
  margin-right: auto;
}

.forward-to div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.forward-to span:nth-child(1) {
  font-style: normal;
  font-weight: bolder;
}

.forward-to span:nth-child(2) {
  font-style: normal;
}

.forward-to span:nth-child(3) {
  font-style: italic;
  font-size: 12px;
}

.forward-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: italic;
  background-color: #adc6ff;
  margin: 5px;
  padding: 5px;
}
.forward-message span:nth-child(1) {
  color: #0050b3;
  font-weight: bolder;
}
.forward-message span:nth-child(2) {
  font-size: 0.9em !important;
  text-align: left;
}

.ant-modal .modal-forward {
  width: 400px !important;
}

.forward-chat-list h3 {
  margin-right: auto;
}

.forward-media {
  margin-top: 7px;
}

@media (max-width: 1200px) {
  .forward-to {
    padding-left: 80px;
    padding-right: 15px;
  }
}
