.block-users-list {
  display: flex;
  width: 350px;
  /* min-width: 30%; */
  height: 100vh;
  max-height: 100%;
  flex-direction: column;
  background: url("./list.jpg") top center;
  background-size: 138% auto;
}
.block-chat {
  width: 79%;
  min-width: 60%;
  height: 100vh;
  max-height: 100%;
  flex-direction: column;
  left: 350px;
  top: 60px;
  bottom: 50px;
}
