.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #e6fffb, #69c0ff);
  border: solid 1px #096dd9;
  height: 100vh;

}
.main-page h3 {
  height: 30px;
  width: 300px;
  text-align: center;
  background: rgb(34, 124, 243, 0.28);
  border: solid 2px #096dd9;
  border-radius: 5px;
}

.main-page img {
  max-width: 30%;
  min-width: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 2000px;
  height: 60px;
  margin: 0;
}
