.chats-list {
  display: flex;
  flex-direction: column;
  height: 700px;
  max-height: 100%;
  padding: 10px;
  overflow-y: auto;
}

.chats-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.chats-list::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

.chats-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

.chat,
.selected-chat {
  display: flex;
  height: 62px;
  padding: 5px 10px;
  margin: 1px;
  border: solid 2px #096dd9;
  font-size: 18px;
  align-items: center;
  overflow: hidden;
}

.chat {
  background: rgba(154, 212, 235, 0.9);
  justify-content: space-between;
}

.selected-chat {
  background-image: linear-gradient(
    to top right,
    #00474f,
    #006d75,
    #1890ff,
    #0050b3
  );
}

.chat h3,
.selected-chat h3 {
  margin: 0;
}

.selected-chat h3,
.selected-chat .name-chat,
.selected-chat .time-chat {
  color: #f6ffed;
}

.block-user-header {
  width: 21%;
  height: 60px;
  border-right: solid 2px #096dd9;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

span.fa {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: -26px;
  position: relative;
  z-index: 1;
  float: left;
}

span.fa + input {
  padding-left: 26px;
}

.create-chat {
  display: flex;
  height: 50px;
  border: solid 1px black;
}

.block-user-info {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 800px;
  margin-left: 600px;
  margin-top: 200px;
  background: url("./bouncerate.jpg") top center;
  border-radius: 20px;
  padding: 10px;
}

.block-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.block-close {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.block-user-avatar img {
  display: flex;
  border-radius: 100%;
  margin: 10px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: linear-gradient(to right, #f6ffed, #87e8de);
  border: solid 3px #1890ff;
}

.circle h1 {
  font-size: 150px;
  text-align: center;
}

.circle-min-chat {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: solid 2px #1890ff;
  margin: 0 15px 2px 0;
  flex: 0 0 50px;
}

.circle-min-chat h1 {
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
}

.chat .name-chat,
.selected-chat .name-chat {
  margin-right: auto;
}

.name-chat {
  display: flex;
  flex-direction: column;
  bottom: 5px;
  overflow: hidden;
}

.name-chat div {
  font-size: 0.8em;
  margin-bottom: 7px;
}

.name-chat span {
  margin: 0 2px 0 0;
}

.name-chat h3,
.name-chat div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time-chat {
  display: flex;
  justify-content: flex-end;
  font-size: 0.6em;
  margin-bottom: 30px;
}
.input-search {
  width: 250px;
}
@media (max-width: 1412px) {
  .block-user-info {
    margin-left: 400px;
    margin-top: 100px;
  }
}
@media (max-width: 1392px) {
  .block-user-header {
    width: 22.3%;
  }
  .input-search {
    width: 230px;
  }
}

@media (max-width: 1312px) {
  .block-user-header {
    width: 23.5%;
  }
  .block-user-info {
    width: 600px;
  }
}

@media (max-width: 1248px) {
  .block-user-header {
    width: 25%;
  }
}
@media (max-width: 1200px) {
  .block-user-header {
    width: 26.2%;
  }
}

@media (max-width: 1120px) {
  .input-search {
    width: 200px;
  }
  .block-user-info {
    width: 600px;
  }
}

@media (max-width: 995px) {
  .input-search {
    width: 150px;
  }
  .block-user-info {
    margin-left: 280px;
    width: 500px;
  }
}

@media (max-width: 821px) {
  .input-search {
    max-width: 100px;
  }
}
