.form-registr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-height: 100%;
  background-image: linear-gradient(#40a9ff 20%, #bae7ff 90%, #e6fffb);
}
.form-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-logo h1,
span,
p {
  text-align: center;
}
.form-logo img {
  max-width: 30%;
  margin: 5px;
}
.form-reg-main {
  display: flex;
  flex-direction: column;
  align-items: space-between !important;
  justify-content: center !important;
  width: 270px !important;
}
.form-reg-main .input-checkbox {
  width: 270px;
  height: 40px;
  margin: 10px;
}
.input-checkbox input {
  margin: 0;
}
.input-checkbox .ant-input-suffix {
  margin-left: 5px;
}
