* {
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 60px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#b5f5ec 20%, #40a9ff 90%, #1890ff);
}
.page-footer {
  flex: 0 0 auto;
}
.header {
  position: fixed;
  justify-content: space-between;
  width: 1680px;
  height: 60px;
  margin: 0;
  background-image: linear-gradient(#b5f5ec 20%, #40a9ff 90%, #1890ff);
  border: solid 1px #096dd9;
  z-index: 1;
  top: 0;
  left: 0;
}
