.FotLeft {
  background-color: #d48806;
  border: solid 1px gray;
  width: 20%;
}
.message-form {
  background-color: #ffffff;
  border: solid 1px gray;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text-message {
  width: 700px;
  height: 45px;
}

.FotRight {
  background-color: #d48806;
  border: solid 1px gray;
  width: 20%;
}
.WriteSMS {
  height: 40px;
  width: 80%;
}
